/* Import Tailwind CSS (v4) */
@import 'tailwindcss';

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* bg-slate-100 */
}

::-webkit-scrollbar-thumb {
  background: #94a3b8; /* bg-slate-400 */
  border-radius: 10px;
  border: 2px solid #f1f5f9; /* Add a border to match the track */
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* bg-slate-500 */
}

@layer components {
  .v-popper__inner {
    @apply text-xs px-3 py-2 rounded shadow-md font-mono whitespace-pre-wrap;
  }

  .v-popper__arrow {
    @apply text-white;
  }
}
